// Form Variables
:root {
  --form-input-margin: 1rem;
}

.form {
  width: 66vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 0.5rem;
  margin-top: 2rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-image: url(../../images/cork-bkg.jpg);
  background-image: linear-gradient(
      to top right,
      var(--color-white-trans),
      var(--color-white-trans)
    ),
    url(../../images/cork-bkg.jpg);

  &__container {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > *:not(label) {
      margin: var(--form-input-margin);
    }
  }

  &__textInput {
    display: block;
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    padding-left: 2rem;
    transition: 0.2s;
    font-size: var(--default-font-size);

    &:focus {
      outline: none;
      border: none;
      transform: scale(1.05);
      background-image: linear-gradient(
        to right,
        var(--color-primary-light),
        var(--color-primary-dark)
      );
    }
  }

  &__label {
    color: var(--color-black);
    font-size: var(--default-font-size);
    font-weight: bold;
    align-self: flex-start;
    position: relative;
    left: 2rem;
    top: var(--form-input-margin);
  }
}
